* {
  box-sizing: border-box;
}

.side-bar {
   height: 100vh;
   width: 300px;
   background-color: #2f3e51;
   float: left;
    .side-header {
     height: 100px;
     background-color: #253141;
     display: flex;
     align-items: center;
     padding: 0 20px;

      &__box {
        height: 20px;
        width: 100%;
        background-color: #253141;
        display: flex;
        justify-content: space-between;
        color: white;
        p {
         font-weight: bold;
        }
        &__menu {
         display: flex;
         li {
           margin-left: 5px;
           font-size: small;
          }
          a {
           color: white;
          }
        }
      } 
    }
  .groups {
    padding: 20px;
    background-color: #2f3e51;
    height: calc(100vh - 100px);
    color: white;
    .group {
      text-decoration: none;
     &__group-name {
     font-size: 15px;
     margin-bottom: 5px;
     color: white;
     }
     &__group-message {
     font-size: 11px;
     color: white;
     }
    } 
  }
}

.main {
  height: 100vh;
  width: calc( 100vw - 300px);
  background-color: white;
  float: right;
}
.main-header {
  height: 100px;
  background-color: #ffffff;
  display: flex;
  justify-content: space-between;
  padding: 0 40px;
  &__left-box{
   margin-top: 35px;
    h2 {
    font-size: 20px;
    color: #333333;
    margin-bottom: 15px;
    }
    ul {
    color: #999999;
    font-size: 12px;
    display: flex;
    justify-content: space-between;
    }
  }
  &__edit-btn {
    border: 1px solid #38edf0;
    padding: 0 20px;
    height: 40px;
    line-height: 40px;
    margin-top: 28px;
    a {
      color: #38edf0;
      text-decoration: none;
    } 
  }
}
.messages {
  background-color: #fafafa;
  height: calc(100vh - 190px);
  padding: 46px 40px;
  overflow: scroll;

  .message__upper-info {
    display: flex;
    justify-content: start;
    flex-wrap: wrap;
    margin-bottom: 10px;
    &__talker {
      font-weight: bold;
      color: #333333;
    }
    &__date {
      color: #999999;
      font-size: 12px;
      margin-left: 10px;
    }
  }

  .message__text {
    font-size: 14px;
    margin-bottom: 10px;
  }
}

.form {
  height: 90px;
  padding: 20px 40px;
  background-color:#d2d2d2;
  display: flex;
  width: 80%;
  position: fixed;

   .input-box {
    width: 100%;
    position: relative;
    .form_mask {
       .text {
        width: 88%;
        height: 50px;
        padding: 0 40px 0 10px;
        border-style: none;
        color: #434a54;
       }
      .image {
       position: absolute;
       top: 10px;
       right: 150px;
       cursor: pointer;
       font-size: 1.3rem;
       .file {
       display: none;
       }
      }
      .submit-btn {
       float: right;
       height: 50px;
       padding: 0 30px;
       margin-left: 15px;
       background-color: #38aef0;
       color: white;
      cursor: pointer;
      }
     } 
   }
}


